<!DOCTYPE html>
<html>
 <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1, width=device-width" />
        <title></title>
        <meta name="description" content="" />
        <link
            rel="stylesheet"
            href="../../static/css/modal.css"
        />
 </head>
 <body>
<div id="delete-channel-modal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modalClose" id="delete-page-close-btn">×</span>
      </div>
      <div class="modal-body">
        <p>Are you shure  to delete this channel?</p>        
        <a id="delete-confirm-link">
          <button id="delete-channel-confirmation-btn">Delete...</button>
        </a>
      </div>
    </div>
  </div>
  </body>
</html>