<!DOCTYPE html>
<html>
 <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1, width=device-width" />
        <title></title>
        <meta name="description" content="" />
        <link
            rel="stylesheet"
            href="../../static/css/modal.css"
        />
 </head>
<body>
<div id="delete-channel-modal" class="modal">
  <div class="modal-content">
      <div class="modal-header">
        <div id="delete-page-close-btn"><p>&times</p></div>
        <h5>Are you sure to delete this channel?</h5>
      </div>
      <div class="modal-body">
        <!--<p>削除ボタンを押すとチャンネルが消えます</p>
        <p>本当によろしいですか？</p>
        -->
        <a id="delete-confirm-link">
          <form action="/delete_channel">
            <input type="hidden" name="cid" value="{{channel.cid}}">
          <button id="delete-channel-confirmation-btn">Delete...</button>
         </form>
   
        </a>
      </div>
  </div>
</div>
</body>
</html>