<!DOCTYPE html>
<html>
 <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1, width=device-width" />
        <title></title>
        <meta name="description" content="" />
        <link
            rel="stylesheet"
            href="../../static/css/modal.css"
            href="../../static/css/repost.css"
        />
 </head>
 <body>
 <div id="repost-modal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
      <span class="modalClose" id="repost-page-close-btn">×</span>
      </div>
      <div id="repost-message-modal" class="container">
      <div class="modal-content">
      
        <div class="quote-message items">
            <p>引用メッセージがここに入る。引用メッセージがここに入る。<br>
            引用メッセージがここに入る。引用メッセージがここに入る。引用メッセージがここに入る。<br>
            引用メッセージがここに入る。引用メッセージがここに入る。引用メッセージがここに入る。<br>
            引用メッセージがここに入る。引用メッセージがここに入る。引用メッセージがここに入る。<br>
            引用メッセージがここに入る。引用メッセージがここに入る。引用メッセージがここに入る。<br>
            引用メッセージがここに入る。引用メッセージがここに入る。引用メッセージがここに入る。<br>
            引用メッセージがここに入る。</p>
        </div>
        <div class="repost-message items">
            <textarea class="repost-message-area"
            name="repost-massage" 
            placeholder="Repost Message" 
            ></textarea>
        </div>
        <div id="repost-btn" class="items">
        <button type="submit">
            Repost
        </button>
        </div>
      </div>
      </div>
    </div>
 </div>
 </body>
</html>