<!DOCTYPE html>
<html>
 <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1, width=device-width" />
        <title></title>
        <meta name="description" content="" />
        <link
            rel="stylesheet"
            href="../../static/css/repost.css"
        />
 </head>
<body>
<div class="container">

   <div class="repost-area">
    <div class="backbutton">
    <form action="/repost" method="POST">
      <input type="hidden" name="channel_id" value="{{ channel.cid }}" />
        <button class="button">back </button>
    </form>
    </div>
     <div class="quote-message">
        <p>{{ quote_message.message }}</p>
     </div>

    <form action="/repost" method="POST" class="form">
      <div class="repost-message-area">
            <textarea class="repost-message-area"
            name="re_massage" 
            placeholder="Repost Message" 
            ></textarea>
      </div>

      <div class="important">
        <p>Important ? :</p>
        <input type="hidden" name="channel_id" value="{{ channel.cid }}" />
        <input type="hidden" name="message_id" value="{{ quote_message.mid }}" />
        <input type="checkbox" name="repost_mark" value="1" id="important" />
        <label for="important"></label>
      </div>
      <div class="repost-btn">
        <button type="submit" class="button">
          Repost
        </button>
      </div>
    </form>
     </div>

   </div>
</div>
</body>
</html>