* {
    margin: 0;
    padding: 0;
}

/*
body {
    font-family: "Basic", sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    background-color: #DBFF8F;
    width: 100%;
    display: flex;
    flex-direction: column;
}
*/

body {
    float: none;
    position: static;
    font-family: "Basic", sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    background-color: #DBFF8F;
    overflow-x: hidden;
}

.chat-header {
    background-color: #DBFF8F;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    z-index: 5;
}

.chat-top {
    background-color: #FCFFF4;
    width: 100%;
    height: 10vh;
    position: relative;
    margin: 1em 0 2em 0;
    display: flex;
    flex-direction: row;
    z-index: 6;
}

/* 左ヘッダー */
.channel-info {
    position: absolute;
    bottom: 0.2em;
    left: 0.8em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.channel-info-main {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.channelroom-name {
    font-size: larger;
    font-weight: 550;
}


.chatroom-description {
    font-size: small;
}

.editbutton{
    border: 4px double #b3b3b3;
    bottom: 0;
    padding: 0.1em;
    margin-left: 1em;
    margin-bottom: 0.2em;
    width: 4em;
    height: 1.8em;
    align-items: center;
    border-radius: 20%;
    font-size: 1em;
    background-color:#e9ffb9;
}


/* 右ヘッダー */

.header-menu{
    position: absolute;
    bottom: 0.1em;
    right: 0.5em;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}


.header-user-name {
    right: 0.2em;
    font-weight: 550;
    font-size: 1.1em;
}

#menu-btn {
    background-color: #e9ffb9;
    border: 4px double #999999;
    margin: 0.2em;
    padding: 0.2em;
}

#menu-btn:hover {
    border: 2px solid skyblue;
  }
  

.menu-btn-text {
    font-size: 0.8em;
    font-weight: 550;
}

#pop-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top:0;
    right: 0.2em;
    width: 12em;
    height: 4em;
    background-color: rgb(179, 233, 255);
    border: 4px double #999;
    border-radius: 5px;
    justify-content: left;
    padding: 0 0.2em 0.2em 0.2em;
}

#menu-close {
    display: flex;
    position: absolute;
    right: 0.2em;
    font-size: 1.2em;
    font-weight: 550;
    color:#8b8b8b;
}

#menu-close:hover {
    color:#303030;
}

.menu-list {
    display: flex;
    position: absolute;
    top:1em;
    left: 0.1em;
    flex-direction: column;
}

.backbutton,
.signout-btn {
    background-color: rgb(179, 233, 255);
    border: none;
    padding: 0.2em;
    margin-left: 1em;
    width: 10em;
    height: 1.7em;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}



/* メッセージエリア */

.chat-box {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}


.message-area{
    background-color: #FCFFF4;
    margin-top: calc(10vh + 3em);
    margin-right: 0;
    padding-top: calc(5vh + 5px);
    padding-right: 30px;
    padding-bottom: calc(15vh + 10px);
     /* ↑下部テキストエリア（.typing-box-wrapper）以上の高さを取る　*/
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.6rem;
    overflow-x: hidden;
}

.my-messages,
.messages{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.my-messages {
    margin: 0 0 0 auto;
}

.message-menu {
    display: flex;
    flex-direction: row;
    padding: 0.2em;
}

.repost-button,
.delete-message-btn {
    margin: 0.1em;
    padding: 0.2em;
    width: 6em;
    color: #FCFFF4;
    font-size: 0.5em;
    background-color: #999;
    border-color: #999;
    border-radius: 80vh;
}

.repostmenu {
    display: none;
}

.box{
    position: relative;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.1em;
    overflow-wrap: break-word;
    flex-direction: column;
    margin: 0.1em 1em 1em 0;
}

.box-right{
    background-color: #444444;
    color: #FCFFF4;
    border: 2px solid #333;
  }

.box-left{
    background-color: #FCFFF4;
    color: #444444;
    border: 2px solid #333;
  }


.user-name{
    font-size: 8px;
}

.box-right-repost{
    background-color: #999999;
    color: rgba(252, 255, 244, 0.6);
    width: auto;
    margin: 0;
    z-index: 2;
    border: none;
    border-radius: 0 0 6px 6px ;
}

.box-left-repost{
    background-color: #999999;
    opacity: 60%;
    color: rgba(244, 244, 244, 0.6);
    width: auto;
    margin: 0;
    z-index: 2;
    border: none;
    border-radius: 0 0 6px 6px ;
}

#message-text{
   padding: 0.8em;
}

#quotemessage-text {
    padding: 0.8em;
    font-size: smaller;
}

#repostmark{
    border: 5px double rgb(91, 168, 255);
    border-radius: 10px;
}

.no-message {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 550;
    font-size: larger;
    color: #999;
}

/* メッセージエリア 

.chat-box {
    position: fixed;
    top: 15vh;
    bottom: 15vh;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    box-sizing: border-box;
}


.message-area{
    background-color: #FCFFF4;
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: calc(5vh + 5px);
    padding-right: 30px;
    padding-bottom: calc(20vh + 10px);
    padding-left: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.6rem;
}

.my-messages {
    display: flex;
    flex-direction: column;
    width: 45%;
    right: 5vw;
}

.messages {
    display: flex;
    flex-direction: column;
    width: 45%;
    left: 5vw;
}

.message-menu {
    display: flex;
    flex-direction: row;
}

#repost-button{
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding: 0.2em 0.2em;
    width: 6em;
    height: 1.5em;
    color: #FCFFF4;
    font-size: 0.8em;
    background-color: #999;
    border-color: #999;
    border-radius: 80vh;
}

#delete-message-btn{
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 30px;
    padding: 0.2em 0.2em;
    width: 6em;
    height: auto;
    background-color: none !important;
    border-color: none !important;
    border-radius: 80vh! important;
}

img.deleteicon {
    height: 1.1em;
}

.box{
    position: relative;
    width: 40%;
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.1em;
    overflow-wrap: break-word;
    flex-direction: column;
}

.box-right{
    background-color: #444444;
    color: #FCFFF4;
    margin-left: auto;
    margin-right: 10px;
    border: 2px solid #333;
  }

.box-left{
    background-color: #FCFFF4;
    color: #444444;
    border: 2px solid #333;
  }

.message{
    padding: 0.7em 0 0.4em 1em;
}


.user-name{
    font-size: 8px;
}

.box-right-repost{
    background-color: #999999;
    color: rgba(252, 255, 244, 0.6);
    width: auto;
    margin: 0;
    z-index: 2;
    border: none;
    border-radius: 0 0 6px 6px ;
}

.box-left-repost{
    background-color: #999999;
    opacity: 60%;
    color: rgba(244, 244, 244, 0.6);
    width: auto;
    margin: 0;
    z-index: 2;
    border: none;
    border-radius: 0 0 6px 6px ;
}

#message-text{
   padding: 0.8em;
}

#quotemessage-text {
    padding: 0.3em;
    font-size: smaller;
}

#repostmark{
    border: 5px double #f28fff;
}

*/


.typing-box-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 15vh;
    background-color: #DBFF8F;
    background-size: contain;
    border-top: 1px solid #444444;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }


.typing-box{
    height: 80%;
    width: 90%;
    margin: auto;
    position: relative;
    background-color: none;
    border: none;
    border-radius: 12px;
    position: absolute;
    bottom: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.typing-box textarea {
    background-color:  #FCFFF4;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 4px 55px 4px 12px;
    border-radius: 14px;
    resize: none;
    border: none;
    outline: none;
    line-height: 20px;
    width: 100%;
    border-bottom: solid 1px #ADADA4;
    padding-bottom: 1px;
    font-size: 1rem;
  }
  
  .typing-box textarea:focus {
    cursor: pointer;
  }

  #add-message-btn {
    border: none;
    border-radius: 5px;
    background-color: #edf0e9;
    width: 100px;
    height: 30px;
    margin-bottom: 1em;
    margin-left: 1em;
    font-weight: 550
  }
  
  #add-message-btn:hover {
    border: 2px solid skyblue;
  }
  