<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <title>Eteam.app</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/error.css')}}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Basic&display=swap">
</head>

<body>
    <div class="container">
        <div class="item"><img src="{{ url_for('static',filename='img/robot.png') }}" /></div>
        <div style="line-height:9vh; font-size:7vh;">&emsp;&emsp;&emsp;500<br>SERVER ERROR</div>
        <a href="{{ url_for('index') }}">
          <div class="item">
            <img src="{{url_for('static',filename='img/returnbutton.png') }}">
          </div>
        </a>
    </div>
</body>

</html>