<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>ログイン</title>
  </head>





  
  <body>
    <div class="main-countainer">
      <div class="chat-box">
        <div id="chat-header">
          <!--チャンネルタイトル、if文-->
          <p id="channelroom-name">{{ channel.channel_name }}</p>
          {% if channel.abstract is not none %}
            <p id="chatroom-description">{{ channel.abstract }}</p>
          {% endif %}
          {% if uid == channel.uid %}
          <button id="">Edit</button>
           {% include 'modal/update-channel.html' %}
          {% endif %}
        </div>
        <div id="message-area">
          <!--メッセージ一覧取得if文-->
          {% if messages|length > 0 %}
            {% for message in messages %}
              {% message.uid == uid %}
                <div class="my-messages">
                  <p class="box box-right">{{ message.message }}</p>
                  <form action="/delete_message" method="post">
                    <input type="hidden" value="{{ channel.cid }}" name="channel_id" />
                    <button class="delete-message-btn" name="message_id" value="{{ message.mid }}">
                      <!--ゴミ箱アイコン-->
                    </button>
                  </form>
                </div>
              {% else %}
              
        </div>
        <div class="typing-box-wrapper">
          <!--入力フォーム-->
        </div>
      </div>
    </div>
  </body>
</html>

