<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>ログイン</title>
  </head>





  
  <body>
    <div class="main-countainer">
      <div class="chat-box">
        <div id="chat-header">
          <!--チャンネルタイトル、if文-->
          <p id="channelroom-name">{{ channel.channel_name }}</p>
          {% if }
        </div>
        <div id="message-area">
          <!--メッセージ一覧取得if文-->
        </div>
        <div class="typing-box-wrapper">
          <!--入力フォーム-->
        </div>
      </div>
    </div>
  </body>
</html>

