routing_test1

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>chatroom</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../static/css/detail.css"
    />
  </head>

  <body>
    <div class="main-container">
      <div class="chat-header">
      <div class="chat-top">
        <!--チャンネルタイトル、if文-->
        <div id="channel-info">
          <div id="channel-info-main">
          <p id="channelroom-name">{{ channel.channel_name }}</p>
          {% if uid == channel.uid %}
          <p id="channel-edit">
            <a>Edit</a>
          {% include 'modal/update-channel.html' %}
          {% endif %}
          </p>
          </div>
          {% if channel.abstract is not none %}
          <p id="chatroom-description">{{ channel.abstract }}</p>
          {% endif %}
        </div>
        <div id="header-menu">
          <p id="user-name">
            I am {{ user_name }}!!
          </p>
          <p id="signout-btn">Sign out</p>
        </div>
      </div>
      </div>    
      <div class="chat-box">
        
        <div id="message-area">
          <!--メッセージ一覧取得if文-->
        {% if messages|length > 0 %}
          {% for message in messages %}
            {% if message.uid == uid %}
              <div class="my-messages">
                <button id="repost-button">Repost</button>
                  {% include 'modal/repost.html' %}
                <form action="/delete_message" method="post">
                  <input type="hidden" value="{{ channel.cid }}" name="channel_id" />
                  <button class="delete-message-btn" name="message_id" value="{{ message.mid }}">
                    <!--ゴミ箱アイコン-->
                  </button>
                </form>
                {% if message.quote_message is not none  and message.repostmark is not none%}
                <div class="box box-right" id="repostmark">
                  <p id="message-text">{{ message.message }}</p>
                  <p class="box box-right box-right-repost">{{ message.quote_message }}</p>
                </div>
                {% elif message.quote_message is not none %} 
                <div class="box box-right ">
                  <p id="message-text">{{ message.message }}</p>
                  <p class="box box-right box-right-repost">{{ message.quote_message }}</p>
                </div>
                {% else %}
                <p class="box box-right">{{ message.message }}</p>  
                {% endif %}
              </div>
              <div class="messages">
            {% elif message.quote_message is not none and message.repostmark is not none%}
            <p class="user-name">{{ message.user_name }}</p>  
            <div class="box box-left" id="repostmark">
              <p id="message-text">{{ message.message }}</p>
              <p class="box box-left box-left-repost">{{ message.quote_message }}</p>
            </div>
            {% elif message.quote_message is not none %}
            <p class="user-name">{{ message.user_name }}</p>  
            <div class="box box-left ">
              <p id="message-text">{{ message.message }}</p>
              <p class="box box-left box-left-repost">{{ message.quote_message }}</p>
            </div>
            {% else %}
                <p class="user-name">{{ message.user_name }}</p>  
                <div class="box box-left ">
                  <p id="message-text">{{ message.message }}</p>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        {% else %}
          <p>誰も喋っていません</p>
        {% endif %}

        </div>
        <div class="typing-box-wrapper">
          <!--入力フォーム-->
          <form class="typing-box" action="/message" method="POST">
            <textarea name="message" id="message" autofocus></textarea>
            <input type="hidden" name="channel_id" value="{{ channel.cid }}" />
            <button type="submit" id="add-message-btn">
            </button>
          </form>
        </div>
      </div>
    </div>
    <form action="/" >
      <button>チャンネル一覧へ</button>
    </form>

  </body>
</html>